div {
  width: 200px;
  height: 100px;
  padding: 10px;
  
  border: 1px solid;
  border-radius: 5px;

  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

div:hover {
  cursor: pointer;
}